<link rel="stylesheet" href="/css/footer.css">

<footer class="footer">
    <div class="footer-alignment-side"></div>
    <div class="footer-content">&copy; Bản quyền thuộc TRUNG TÂM CÔNG NGHỆ PHÒNG, CHỐNG DỊCH COVID-19 QUỐC GIA</div>
    <div class="footer-content">Phát triển bởi Chrysanthemums</div>
    <div class="footer-logo"><img src="/image/Logo BỘ.png" alt="Logo Bộ Y Tế "></div>
    <div class="footer-alignment-side"></div>
</footer>