@{
    Layout = "_LayoutFeaturePage";
}
@using Covid19_Vaccination_Infogate_MVC.Models
@using Covid19_Vaccination_Infogate_MVC.Helpers
@using System.Web;
@{
    Citizen citizen = SessionHelper.GetObjectFromJson<Citizen>(Context.Session, "CitizenProfile");
}
<link rel="stylesheet" href="/css/MedicalFormSubmit.css">
<script src="/js/MedicalFormSubmit.js"></script>
<script src="/js/index.js"></script>


<!-- FUNCTION PANEL -->
<div class="holder-function-panel">
    <!-- MENU -->
    @{
        @await Component.InvokeAsync("ViewFunctionMenu");
    }
    <!-- END MENU -->

    <div class="function-panel">
        <br>
        <div class="panel-target-citizen">
            <p>Đối tượng: </p>
            <select name="" id="">
                <option value="@citizen.Id">@citizen.FullName()</option>
            </select>
        </div>
        <br>

        <div class="panel-form-medical">
            <div class="form-medical">
                <div class="input_date">
                    <label for="input_date">
                        Ngày thực hiện khai báo:
                    </label>
                    <input type="date" id="input-date">
                </div>
                <p>
                    Trong vòng 14 ngày qua, Anh/Chị có thấy xuất hiện ít nhất 1 trong các dấu hiệu:
                    ho, khó thở, viêm phổi, đau họng, mệt mỏi không?
                </p>
                <div class="form-btn-input">
                    <label for="q1_no">Không</label>
                    <input type="radio" name="q1" id="q1_no" value="0" checked="checked">
                    <label for="q1_yes">Có</label>
                    <input type="radio" name="q1" id="q1_yes" value="1">
                </div>

                <p>
                    Trong vòng 14 ngày qua, Anh/Chị có tiếp xúc với Người bệnh hoặc nghi ngờ, mắc bệnh Covid-19 không?
                </p>
                <div class="form-btn-input">
                    <label for="q2_no">Không</label>
                    <input type="radio" name="q2" id="q2_no" value="0" checked="checked">
                    <label for="q2_yes">Có</label>
                    <input type="radio" name="q2" id="q2_yes" value="1">
                </div>

                <p>
                    Anh/Chị có đang dương tính với Covid-19 không?
                </p>
                <div class="form-btn-input">
                    <label for="q3_no">Không</label>
                    <input type="radio" name="q3" id="q3_no" value="0" checked="checked">
                    <label for="q3_yes">Có</label>
                    <input type="radio" name="q3" id="q3_yes" value="1">
                </div>

                <p>
                    Anh/Chị có đang là đối tượng trì hoẵn tiêm chủng vaccine Covid-19
                    hoặc đang là đối tượng chống chỉ định tiêm chủng Covid-19 không?
                </p>
                <div class="form-btn-input">
                    <label for="q4_no">Không</label>
                    <input type="radio" name="q4" id="q4_no" value="0" checked="checked">
                    <label for="q4_yes">Có</label>
                    <input type="radio" name="q4" id="q4_yes" value="1">
                </div>
                <br>
                <div class="form-btn-input">
                    <button class="btn-medium-filled" id="btn-submit">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END FUNCTION PANEL -->
<br>
