@*HEADER GENERAL*@
<link rel="stylesheet" href="~/css/header.css">
<script src="~/js/header.js"></script>

<div class="header">
    <a class="title" href="/Home">
        <img src="/image/CVM-Logo.png" alt="CVM-Logo">
        <span>CỔNG THÔNG TIN TIÊM CHỦNG COVID-19</span>
    </a>

    <div class="nav">
        <div>
            <ul>
                <a href="/Home">
                <li class="menu-section">Trang chủ</li>
                </a>
                <a href="/Home/MedicalForm">
                <li class="menu-section">Khai báo</li>
                </a>
                <a href="/Home/Statistic">
                <li class="menu-section">Thống kê</li>
                </a>
            </ul>
        </div>
        <button class="btn-login" id="btn-login">Đăng nhập</button>
    </div>
</div>

<div class="header-virtual"></div>