@*HOME PAGE*@
@{
    ViewData["Title"] = "Trang chủ";
}
<script type="text/javascript" src="/js/main.js"></script>

<!-- SLIDER -->
<div class="slider">

    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="image/banner_with_flag.png" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="image/banner_covid19.png" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="image/banner_vaccine.png" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="image/banner_codong.png" style="width:100%">
        </div>

    </div>

    <div class="frame-slider_dot" style="text-align:center">
        <span class="slider_dot"></span>
        <span class="slider_dot"></span>
        <span class="slider_dot"></span>
        <span class="slider_dot"></span>
    </div>

</div>
<!-- END SLIDER -->

<div class="content">
    <div class="content-alignment-side"></div>
    <div class="content-box">
    </div>
    <div class="content-box"></div>
    <div class="content-box"></div>
    <div class="content-box"></div>
    <div class="content-alignment-side"></div>
</div>

