/* HEADER */
.header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: var(--bg_light_gradient);
    align-items: center;
    padding: 5px 4%;
    z-index: 10;
}

.header .title {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header .nav {
    height: 80px;
    float: right;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    text-decoration: none;
}

.header .nav a li {
    list-style: none;
    padding: 0px 25px;
    transition: 300ms;
    color: var(--color_header);
    font-size: 20px;
}

    .header .btn-login {
        font-weight: 500px;
        font-size: 20px;
        line-height: 40px;
        text-decoration: none;
        color: white;
        background: var(--color_footer);
        padding: 0px 20px;
        border-radius: 15px;
        display: inline-block;
        cursor: pointer;
        transition: 300ms;
        border: none;
    }

.btn-login:hover {
    transform: translateY(-3px);
    text-shadow: 0 0 5px #fff;
}

.header .avatar {
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    align-items: center !important;
    width: 80px;
    height: 100%;
    z-index: 20;
}

.header img {
    mix-blend-mode: multiply;
    max-height: 50px;
    vertical-align: middle;
}

.header .title span {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--color_header);
    padding-left: 10px;
}

.header .menu-section {
    line-height: 80px;
    transition: 300ms;
}

@media (min-width: 0px) and (max-width: 640px) {
    .header {
        padding: 5px 5px;
    }

    .header .title span {
        font-size: 18px;
    }

    .slider div .slider_dot {
        width: 5px;
        height: 5px;
    }

    .header .nav div {
        display: none;
    }

    .header .btn-login {
        font-size: 16px;
        padding: 0px 15px;
        line-height: 34px;
    }
}

@media (min-width: 640px) and (max-width: 1015px) {
    .header .title span {
        font-size: 20px;
    }

    .slider div .slider_dot {
        width: 5px;
        height: 5px;
    }

    .header .nav div {
        display: none;
    }

    .header .btn-login {
        font-size: 18px;
    }
}

@media (min-width: 1015px) and (max-width: 1110px) {
    .header .title span {
        font-size: 18px;
    }

    .header .nav a li {
        font-size: 16px;
        padding: 0px 15px;
    }

    .header .btn-login {
        font-size: 16px;
    }
}

@media (min-width: 1110px) and (max-width: 1330px) {
    .header .title span {
        font-size: 20px;
    }

    .header .nav a li {
        font-size: 18px;
        padding: 0px 15px;
    }

    .header .btn-login {
        font-size: 18px;
    }
}

/* drop down menu */
.header .drop-down-menu {
    display: none;
    width: 16%;
    top: 80px;
    position: fixed;
    background: #E2DDEF;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 2px 2px 5px -2px black;
}

.header #drop-down-menu-profile {
    right: 0px;
}

.header #drop-down-menu-schedule {
    right: 220px;
}

.header .drop-down-menu .holder {
    width: 100%;
}

.header .drop-down-menu .holder ul {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}

.header .drop-down-menu a {
    text-decoration: none;
}

.header .drop-down-menu li {
    list-style-type: none;
    padding: 7px 10px;
    border-radius: 10px;
    color: #000000;
    font-size: 20px;
    transition: 300ms;
}

.header .drop-down-menu li:hover{
    background: #9D8FC1;
}

.header-virtual {
    height: 80px;
}
/* END HEADER */