@{
    Layout = "_LayoutFeaturePage";
}
@using Covid19_Vaccination_Infogate_MVC.Models
@using Covid19_Vaccination_Infogate_MVC.Helpers
@using System.Web;
@{
    Account account = SessionHelper.GetObjectFromJson<Account>(Context.Session, "AccountInfo");
    Organization org = SessionHelper.GetObjectFromJson<Organization>(Context.Session, "ORGProfile");
}
<link rel="stylesheet" href="/css/ORGCreateSchedule.css">
<script src="/js/ORGCreateSchedule.js"></script>

<div class="holder-function-panel">
    <div class="function-panel">
        <br>

        <div class="panel-list-schedule">

            <div class="list-name orgid" id="@org.Id">@org.Name</div>

            <div class="holder">
                <div class="panel-update-schedule" id="panel-update-schedule">
                    <div class="title">TẠO LỊCH TIÊM CHỦNG</div>
                    <div class="container">
                        <div class="container-select-date-vaccine">
                            <label for="schedule-date" class="">Ngày tạo lịch tiêm</label>
                            <input id="schedule-date" type="date" min="@DateTime.Today">

                            <label for="vaccine" class="">Loại vaccine</label>
                            <select type="text" name="vaccine" id="vaccine">
                                <option value="Astra">AstraZeneca</option>
                                <option value="Corminaty">Corminaty (Pfizer)</option>
                                <option value="Sputnik">Sputnik V</option>
                                <option value="Vero">Verro Cell</option>
                                <option value="Moderna">Moderna</option>
                            </select>
                            <label for="serial" class="">Số lô vaccine</label>
                            <input id="serial" type="text">
                        </div>
                        <div class="container-update-value">
                            <label for="limit-day" class="">Giới hạn đăng ký buổi sáng</label>
                            <input id="limit-day" type="number" min="0">

                            <label for="limit-noon" class="">Giới hạn đăng ký buổi chiều</label>
                            <input id="limit-noon" type="number" min="0">

                            <label for="limit-night" class="">Giới hạn đăng ký buổi tối</label>
                            <input id="limit-night" type="number" min="0">
                        </div>
                    </div>
                    <button class="btn-medium-bordered" id="btn-confirm-create-schedule">Xác nhận</button>

                </div>
            </div>
        </div>

    </div>
</div>
    </div>
<!-- END FUNCTION PANEL -->
<br>