@{
    Layout = "_LayoutFeaturePage";
}
@using Covid19_Vaccination_Infogate_MVC.Models
@using Covid19_Vaccination_Infogate_MVC.Helpers
@using System.IO;
@using Newtonsoft.Json;
@{
    Organization org = SessionHelper.GetObjectFromJson<Organization>(Context.Session, "ORGProfile");
}
<link rel="stylesheet" href="/css/ORGSchedule.css">
<script src="/js/ORGSchedule.js"></script>

<div class="holder-function-panel">
    <div class="function-panel">
        <br>
        <div class="list-name orgid" id="@org.Id">@org.Name</div>

        <div class="holder-list">
            <div class="list-name" id="list-name-schedule">DANH SÁCH LỊCH TIÊM</div>
            <div class="list-name list-name-registration" id=""></div>
            <div class="list-name-scheduleinfo"></div>
        </div>
        <div class="holder-filter-panel">
            <div class="filter-panel l" id="filter-schedule">
                <label for="start-date">Từ ngày</label>
                <input type="date" name="start-date" id="start-date" value="@DateTime.Now.ToString("yyyy-MM-dd")">

                <label for="end-date">Đến ngày</label>
                <input type="date" name="end-date" id="end-date">
            </div>

            <div class="filter-panel r" id="filter-registration">
                <label for="time">Buổi</label>
                <select type="drop-down" name="time" id="time">
                    <option value="">Tất cả</option>
                    <option value="0">Sáng</option>
                    <option value="1">Chiều</option>
                    <option value="2">Tối</option>
                </select>

                <label for="status">Trạng thái</label>
                <select type="text" name="status" id="status">
                    <option value="">Tất cả</option>
                    <option value="0">Đã đăng ký</option>
                    <option value="1">Đã điểm danh</option>
                    <option value="2">Đã tiêm</option>
                    <option value="3">Đã hủy</option>
                </select>
            </div>
        </div>

        <div class="panel-list-schedule">

            <div class="holder">
                <div class="list-schedule" id="list-schedule">
                </div>

                <div class="list-registration" id="list-registration">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END FUNCTION PANEL -->
<br>